fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.6.1
python-dotenv==1.2.2
SQLAlchemy==2.0.36
python-escpos==3.1
mistune==3.0.2
Pillow==11.0.0
PyYAML==6.0.2
qrcode==8.2
python-multipart==0.0.18
resvg-py==0.3.2
httpx==0.28.1
psycopg[binary]==3.2.13
openpyxl==3.1.5
